@import url("https://use.typekit.net/pry0bti.css");

* {
  color: #004175;
  box-sizing: border-box;

  &:not(pre, code, .token--class, input) {
    font-family: "clone-rounded-latin", sans-serif;

  }
  &:not(h1) {
    font-size: 13px;
  }
}
body {
  background-image: url("https://lidiakovac.it/_next/static/media/bg.5aec42e6.png")
}
@import "./partials/code";
@import "./partials/button";
input {
  font-family: monospace;
}
.container {
  margin-block-start: 20px;
  display: flex;
  gap: 20px;
  .child {
    flex: 1 1 100px;
    // aspect-ratio: 1/1;
    background-color: transparentize($color: orange, $amount: 0.6) !important;

    max-width: 200px;
    height: 100px;
    padding: 20px;
  }
}
